/* Error.module.css */
@keyframes floating {
    0% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-70px);
    }
    100% {
    transform: translateY(0);
    }
   }
   
   .errorMessage {
    font-size: 89px;
    color: rgb(249, 249, 249);
    animation: floating 3s ease-in-out infinite;
   }
   